.contact {
    max-width: 1500px;
    margin: 200px auto;

    @media all and(max-width: 768px) {
        margin: 50px auto;
    }


    .all-contact {
        width: 50%;
        margin: 0 auto;
        margin-top: 100px;


        .describe-contact {
            font-size: 22px;
            margin-bottom: 20px;
        }

        .formularz {



            .form-group {


                label {
                    display: flex;
                    font-size: 20px;
                    margin-bottom: 5px;

                }

                input {
                    width: 100%;
                    padding: 17px;
                    margin-bottom: 15px;
                    font-size: 20px;


                    &::placeholder {
                        font-size: 18px;
                        color: #000;
                    }
                }


            }

            .form-message {
                label {
                    display: flex;
                    font-size: 20px;
                    margin-bottom: 5px;
                }

                #message {
                    width: 100%;
                    padding: 17px;
                    font-size: 20px;
                    font-family: 'Roboto', sans-serif;

                    &::placeholder {
                        font-size: 18px;
                        color: #000;

                    }
                }
            }


        }

        .btn-submit {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            button {
                padding: 15px 70px;
                font-size: 18px;
                background: #fff;
                border: none;
                border: 1px solid #000;
                transition: .3s;
                cursor: pointer;

                &:hover {
                    background: rgba(0, 0, 0, 0.048);


                }
            }
        }
    }



}

.footer {
    text-align: center;
    display: flex;
    flex-direction: column;



    .contact {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media all and(max-width: 768px) {
            font-size: 20px;
        }

        .phone {
            text-decoration: underline;
            z-index: 2;

            &::before {
                content: "";
                position: absolute;
                background-color: rgb(253, 216, 51);
                width: 280px;
                height: 82px;
                margin-top: -20px;
                margin-left: -25px;
                z-index: -1;

                @media all and(max-width: 768px) {
                    width: 180px;
                    height: 50px;
                    margin-top: -5px;
                    margin-left: -14px;
                }
            }
        }
    }

    p {
        padding: 20px;
        border-top: 1px solid #000;
    }

    a {
        text-decoration: underline;
        color: #000;
    }
}